<mat-toolbar >


  <img src="assets/logo.png"alt="Logo" class="logo">
  <span class="spacer"></span>

  <div class="option">
    <a routerLink="/">  <mat-icon>home</mat-icon>
      <span >Home</span></a>
  </div>

  <span class="spacer"></span>

  <div class="option">
    <a routerLink="/register" ><mat-icon>person_add</mat-icon>
      <span>Register</span></a>

  </div>
  <span class="spacer"></span>

  <div class="option">
    <a routerLink="/apply"> <mat-icon>assignment</mat-icon>
      <span >Apply</span></a>

  </div>
  <span class="spacer"></span>

  <div class="option">
    <a  routerLink="/login"><mat-icon>lock_open</mat-icon>
      <span >Login</span></a>
  </div>
  <span class="spacer"></span>
</mat-toolbar>
